<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="Python FastCGI" />
            <remove name="Pythonexe" />
            <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\notif\anaconda3\envs\py311\python.exe|C:\Users\notif\anaconda3\envs\py311\Lib\site-packages\wfastcgi.py" resourceType="Either" requireAccess="Execute" />
        </handlers>
    </system.webServer>
    <system.web>
        <authentication mode="Forms" />
        <identity impersonate="true" />
    </system.web>
</configuration>


<!-- C:\Users\notif\anaconda3\envs\py311\python.exe|C:\Users\notif\anaconda3\envs\py311\Lib\site-packages\wfastcgi.py -->